<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867153304310-m838hpfnop900rtjilq28qa1s0pfj9jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867153304310-m838hpfnop900rtjilq28qa1s0pfj9jh</string>
	<key>API_KEY</key>
	<string>AIzaSyBVXI6xnV8TliSwxHJuZod4eLtEbtjet6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>867153304310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thickstat.conversight</string>
	<key>PROJECT_ID</key>
	<string>athena-174317</string>
	<key>STORAGE_BUCKET</key>
	<string>athena-174317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867153304310:ios:379dfa7065febba13a6ad7</string>
	<key>DATABASE_URL</key>
	<string>https://athena-174317.firebaseio.com</string>
</dict>
</plist>